In [64]:
import pandas as pd
import regex as reg

In [65]:
# Load in dataset
df = pd.read_csv("/Users/khrishawnpowell/Desktop/Projects/Scansan Properties/PricePaid.csv")

# 1)Data cleaning

In [66]:
# Dataset has no headers so have to add them
dfNewColumn = df.set_axis(["UniqueTransactionIdentifier", "Price", "DateOfSale", "Postcode", "PropertyType", "OldNew", "DurationOfTenure", "HouseNumberName", "SecondaryAddress", "Street", "Locality", "TownCity", "District", "County", "PricePaidType", "RecordStatus " ], axis = 1)

In [67]:
# Assign dataset with new columns to df
df = dfNewColumn
df.head()

,UniqueTransactionIdentifier,Price,DateOfSale,Postcode,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County,PricePaidType,RecordStatus
0,{1BA349E3-2579-40D6-999E-49E2A25D2284},73450,1995-10-09 00:00,L26 7XJ,D,Y,F,6,NaN,CATKIN ROAD,LIVERPOOL,LIVERPOOL,KNOWSLEY,MERSEYSIDE,A,A
1,{E5B50DCB-BC7A-4E54-B167-49E2A6B4148B},59000,1995-03-31 00:00,BH12 2AE,D,N,F,28,NaN,ALDER ROAD,POOLE,POOLE,POOLE,POOLE,A,A
2,{81E50116-D675-4B7F-9F8D-49E2B5D43271},31000,1995-12-04 00:00,IP13 0DR,D,Y,F,NONSUCH COTTAGE,NaN,THE STREET,HACHESTON,WOODBRIDGE,SUFFOLK COASTAL,SUFFOLK,A,A
3,{B97455B9-75CB-40BB-A615-42C53683E143},95000,1995-09-22 00:00,WS14 0BE,D,N,F,FOX COVER COTTAGE,NaN,HALL LANE,LICHFIELD,LICHFIELD,LICHFIELD,STAFFORDSHIRE,A,A
4,{F0D1E8DA-C00D-467A-A41C-42C5378DB6E0},45450,1995-02-28 00:00,S42 5GA,S,Y,F,109,NaN,ELVASTON ROAD,NORTH WINGFIELD,CHESTERFIELD,NORTH EAST DERBYSHIRE,DERBYSHIRE,A,A

In [68]:
df.isnull().sum()

UniqueTransactionIdentifier           0
Price                                 0
DateOfSale                            0
Postcode                          44773
PropertyType                          0
OldNew                                0
DurationOfTenure                      0
HouseNumberName                    4191
SecondaryAddress               24482759
Street                           437626
Locality                        9750051
TownCity                              0
District                              0
County                                0
PricePaidType                         0
RecordStatus                          0
dtype: int64

In [69]:
# Drop the coluimns not required
df = df.drop(["UniqueTransactionIdentifier", "RecordStatus ", "PricePaidType", "Postcode"], axis = 1)

In [70]:
df["DateOfSale"] = df["DateOfSale"].str[:10]

In [71]:
df.head()

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
0,73450,1995-10-09,D,Y,F,6,NaN,CATKIN ROAD,LIVERPOOL,LIVERPOOL,KNOWSLEY,MERSEYSIDE
1,59000,1995-03-31,D,N,F,28,NaN,ALDER ROAD,POOLE,POOLE,POOLE,POOLE
2,31000,1995-12-04,D,Y,F,NONSUCH COTTAGE,NaN,THE STREET,HACHESTON,WOODBRIDGE,SUFFOLK COASTAL,SUFFOLK
3,95000,1995-09-22,D,N,F,FOX COVER COTTAGE,NaN,HALL LANE,LICHFIELD,LICHFIELD,LICHFIELD,STAFFORDSHIRE
4,45450,1995-02-28,S,Y,F,109,NaN,ELVASTON ROAD,NORTH WINGFIELD,CHESTERFIELD,NORTH EAST DERBYSHIRE,DERBYSHIRE

*Get Data for London*

In [60]:
london = df.loc[(df["TownCity"] == "LONDON") & (df["Locality"] == "LONDON")] 
london.District.unique()

TypeError: Cannot perform 'rand_' with a dtyped [object] array and scalar of type [bool]

In [11]:
london

,Price,DateOfSale,Postcode,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
46,66500,1995-07-12,SE6 4EW,T,N,F,6,NaN,BROXTED ROAD,LONDON,LONDON,LEWISHAM,GREATER LONDON
61,67995,1995-09-20,N22 6NP,T,N,F,155,NaN,MORLEY AVENUE,LONDON,LONDON,HARINGEY,GREATER LONDON
81,77000,1995-07-26,SW16 4QD,T,N,F,145,NaN,STANFORD ROAD,LONDON,LONDON,CROYDON,GREATER LONDON
82,74950,1995-06-29,NW2 2AA,S,N,F,42,NaN,CREWYS ROAD,LONDON,LONDON,BARNET,GREATER LONDON
106,64000,1995-05-12,SW1X 9PQ,F,N,L,95,THE SECOND FLOOR FLAT AT,SLOANE STREET,LONDON,LONDON,KENSINGTON AND CHELSEA,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27734550,715000,2022-08-16,N5 2NL,F,N,L,99,FLAT C,GROSVENOR AVENUE,NaN,LONDON,ISLINGTON,GREATER LONDON
27734551,1250000,2022-09-16,W4 2UB,T,N,F,24,NaN,LATTIMER PLACE,NaN,LONDON,HOUNSLOW,GREATER LONDON
27734554,425000,2022-09-16,N9 8BT,S,N,F,30A,NaN,TURIN ROAD,NaN,LONDON,ENFIELD,GREATER LONDON
27734555,392500,2022-09-06,N3 2AA,T,N,L,145A,NaN,SQUIRES LANE,NaN,LONDON,BARNET,GREATER LONDON
27734556,600000,2022-10-03,N4 1AZ,T,N,L,2A,NaN,PEMBERTON ROAD,NaN,LONDON,HARINGEY,GREATER LONDON

In [12]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27734965 entries, 0 to 27734964
Data columns (total 13 columns):
 #   Column            Dtype
---  ------            -----
 0   Price             int64
 1   DateOfSale        object
 2   Postcode          object
 3   PropertyType      object
 4   OldNew            object
 5   DurationOfTenure  object
 6   HouseNumberName   object
 7   SecondaryAddress  object
 8   Street            object
 9   Locality          object
 10  TownCity          object
 11  District          object
 12  County            object
dtypes: int64(1), object(12)
memory usage: 2.7+ GB

In [61]:
# Change dtype
df.Price.astype("int64")
df.DateOfSale.astype("datetime64")
df.PropertyType.astype("category")
df.OldNew.astype("category")
df.District.astype("category")
df.County.astype("category")
df.Locality.astype("category")

0                 LIVERPOOL
1                     POOLE
2                 HACHESTON
3                 LICHFIELD
4           NORTH WINGFIELD
                 ...
27734960         STALBRIDGE
27734961         CHICKERELL
27734962          POUNDBURY
27734963                NaN
27734964          STOUR ROW
Name: Locality, Length: 27734965, dtype: category
Categories (23825, object): ['AB KETTLEBY', 'ABBERD', 'ABBERLEY', 'ABBERTON', ..., 'ZONE 1', 'ZONE 2', 'ZONE 3', 'ZOUCH']

In [109]:
london = df.loc[(df["TownCity"] == "LONDON") & (df["Locality"] == "LONDON")] 
london = df.loc[(df["County"] == "GREATER LONDON")]
londonBoroughs = sorted(london.District.unique())
londonBoroughs

['BARKING AND DAGENHAM',
 'BARNET',
 'BEXLEY',
 'BRENT',
 'BROMLEY',
 'CAMDEN',
 'CITY OF LONDON',
 'CITY OF WESTMINSTER',
 'CROYDON',
 'EALING',
 'ENFIELD',
 'GREENWICH',
 'HACKNEY',
 'HAMMERSMITH AND FULHAM',
 'HARINGEY',
 'HARROW',
 'HAVERING',
 'HILLINGDON',
 'HOUNSLOW',
 'ISLINGTON',
 'KENSINGTON AND CHELSEA',
 'KINGSTON UPON THAMES',
 'LAMBETH',
 'LEWISHAM',
 'MERTON',
 'NEWHAM',
 'REDBRIDGE',
 'RICHMOND UPON THAMES',
 'SOUTHWARK',
 'SUTTON',
 'TOWER HAMLETS',
 'WALTHAM FOREST',
 'WANDSWORTH']

# 2)Creation of differnt datasets based on district

In [90]:
# def createDatasets(df):
for i in londonBoroughs:
    x = df.loc[df["District"] == i]
    dic = dict(zip(i,x))

    dic["SUTTON"]

KeyError: 'SUTTON'

In [88]:
SUTTON

NameError: name 'SUTTON' is not defined

In [85]:
SUTTON

NameError: name 'SUTTON' is not defined

**City of London**

In [117]:
cityoflondon = df.loc[df["District"] == londonBoroughs[6]]
cityoflondon

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
3460,108000,1995-09-01,F,Y,L,WILLOUGHBY HOUSE,FLAT 724,BARBICAN,LONDON,LONDON,CITY OF LONDON,GREATER LONDON
6841,90000,1995-01-31,F,N,L,DEFOE HOUSE,FLAT 12,BARBICAN,LONDON,LONDON,CITY OF LONDON,GREATER LONDON
12230,126250,1995-10-27,F,N,L,SEDDON HOUSE,FLAT 411,BARBICAN,LONDON,LONDON,CITY OF LONDON,GREATER LONDON
12626,67000,1995-09-29,F,N,L,MARLYN LODGE,FLAT 510,PORTSOKEN STREET,LONDON,LONDON,CITY OF LONDON,GREATER LONDON
13251,830000,1995-01-02,F,N,F,35,FLAT 9,FURNIVAL STREET,LONDON,LONDON,CITY OF LONDON,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27721053,685000,2022-08-26,F,N,L,ROMAN HOUSE,APARTMENT 34,WOOD STREET,NaN,LONDON,CITY OF LONDON,GREATER LONDON
27723976,825000,2022-08-31,F,N,L,SEDDON HOUSE,FLAT 401,BARBICAN,NaN,LONDON,CITY OF LONDON,GREATER LONDON
27725026,850000,2022-07-07,F,N,L,ANDREWES HOUSE,FLAT 17,BARBICAN,NaN,LONDON,CITY OF LONDON,GREATER LONDON
27732375,1230000,2022-09-16,F,N,L,"SHIELD HOUSE, 16",APARTMENT 6,NEW STREET,NaN,LONDON,CITY OF LONDON,GREATER LONDON
27732432,1137000,2022-10-03,F,N,L,DEFOE HOUSE,FLAT 80,BARBICAN,NaN,LONDON,CITY OF LONDON,GREATER LONDON

**City of Westminister**

In [119]:
cityoflondon = df.loc[df["District"] == londonBoroughs[7]]
cityoflondon

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
322,147000,1995-11-28,F,N,F,113,FLAT 1-9,SHIRLAND ROAD,LONDON,LONDON,CITY OF WESTMINSTER,GREATER LONDON
429,180000,1995-11-16,F,N,L,7B,NaN,ABBEY ROAD,LONDON,LONDON,CITY OF WESTMINSTER,GREATER LONDON
501,136000,1995-05-24,F,Y,L,22,FLAT 4,HYDE PARK PLACE,LONDON,LONDON,CITY OF WESTMINSTER,GREATER LONDON
532,368000,1995-03-09,F,N,L,4,NaN,WILTON MEWS,LONDON,LONDON,CITY OF WESTMINSTER,GREATER LONDON
713,693000,1995-06-29,F,Y,L,HARLEY HOUSE,FLAT 72,MARYLEBONE ROAD,LONDON,LONDON,CITY OF WESTMINSTER,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27732577,977500,2022-09-09,F,N,L,64A,NaN,CAMBRIDGE STREET,NaN,LONDON,CITY OF WESTMINSTER,GREATER LONDON
27732578,1000000,2022-09-09,F,N,L,47,FLAT N,ST GEORGES SQUARE,NaN,LONDON,CITY OF WESTMINSTER,GREATER LONDON
27732579,600000,2022-09-15,F,N,L,73,THIRD FLOOR FLAT,WESTBOURNE GROVE,NaN,LONDON,CITY OF WESTMINSTER,GREATER LONDON
27734226,6000000,2022-01-31,O,N,F,7,NaN,STRATTON STREET,NaN,LONDON,CITY OF WESTMINSTER,GREATER LONDON
27734236,18873116,2022-07-01,O,N,F,10,NaN,LANCASTER GATE,NaN,LONDON,CITY OF WESTMINSTER,GREATER LONDON

**Kensington and Chelsea**

In [154]:
kensingtonAndChelsea = df.loc[df["District"] == londonBoroughs[20]]
kensingtonAndChelsea

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
106,64000,1995-05-12,F,N,L,95,THE SECOND FLOOR FLAT AT,SLOANE STREET,LONDON,LONDON,KENSINGTON AND CHELSEA,GREATER LONDON
252,480000,1995-12-15,T,N,F,20,NaN,WEST CROMWELL ROAD,LONDON,LONDON,KENSINGTON AND CHELSEA,GREATER LONDON
497,112000,1995-01-27,F,N,L,KENSINGTON MANSIONS,FLAT 33A,TREBOVIR ROAD,LONDON,LONDON,KENSINGTON AND CHELSEA,GREATER LONDON
678,270000,1995-09-01,F,N,L,COLEHERNE COURT,FLAT 188,REDCLIFFE GARDENS,LONDON,LONDON,KENSINGTON AND CHELSEA,GREATER LONDON
949,150000,1995-05-10,F,N,L,2,BASEMENT AND GROUND FLOOR MAISONETTE,LANSDOWNE CRESCENT,LONDON,LONDON,KENSINGTON AND CHELSEA,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27733760,720000,2022-09-23,F,N,L,107,FLAT 3,WARWICK ROAD,NaN,LONDON,KENSINGTON AND CHELSEA,GREATER LONDON
27733762,671000,2022-06-08,F,N,L,"CAMPDEN HILL TOWERS, 112",FLAT 5,NOTTING HILL GATE,NaN,LONDON,KENSINGTON AND CHELSEA,GREATER LONDON
27734252,10625000,2022-03-01,O,N,F,10,NaN,QUEENSBERRY PLACE,NaN,LONDON,KENSINGTON AND CHELSEA,GREATER LONDON
27734254,18500000,2022-02-01,T,N,F,28,NaN,HYDE PARK GATE,NaN,LONDON,KENSINGTON AND CHELSEA,GREATER LONDON
27734256,10625000,2022-03-01,O,N,F,8 - 10,NaN,QUEENSBERRY PLACE,NaN,LONDON,KENSINGTON AND CHELSEA,GREATER LONDON

**Hammersmith and Fulham**

In [129]:
hammersmithAndFulham = df.loc[df["District"] == londonBoroughs[13]]
hammersmithAndFulham

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
238,137000,1995-09-27,T,N,F,69,NaN,PENNARD ROAD,LONDON,LONDON,HAMMERSMITH AND FULHAM,GREATER LONDON
297,112000,1995-01-20,F,N,L,54,GROUND FLOOR FLAT,GRESWELL STREET,LONDON,LONDON,HAMMERSMITH AND FULHAM,GREATER LONDON
469,145000,1995-08-01,S,N,F,47,NaN,BRACKENBURY ROAD,LONDON,LONDON,HAMMERSMITH AND FULHAM,GREATER LONDON
476,143000,1995-06-30,F,N,L,PALACE MANSIONS,FLAT 39,EARSBY STREET,LONDON,LONDON,HAMMERSMITH AND FULHAM,GREATER LONDON
485,87500,1995-01-20,F,Y,L,24,FIRST FLOOR FLAT,VEREKER ROAD,LONDON,LONDON,HAMMERSMITH AND FULHAM,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27733765,360000,2022-09-30,F,N,L,69A,NaN,UXBRIDGE ROAD,NaN,LONDON,HAMMERSMITH AND FULHAM,GREATER LONDON
27733766,865000,2022-09-29,T,N,F,2,NaN,WENDELL MEWS,NaN,LONDON,HAMMERSMITH AND FULHAM,GREATER LONDON
27734235,1900000,2022-08-01,T,N,F,26,NaN,BARCLAY ROAD,NaN,LONDON,HAMMERSMITH AND FULHAM,GREATER LONDON
27734241,712500,2022-08-09,O,N,F,19,NaN,PELLANT ROAD,NaN,LONDON,HAMMERSMITH AND FULHAM,GREATER LONDON
27734259,1300000,2022-04-26,O,N,F,"ASPEN VILLAS, 1A",6,GAYFORD ROAD,NaN,LONDON,HAMMERSMITH AND FULHAM,GREATER LONDON

**Wandsworth**

In [194]:
wandsworth = df.loc[df["District"] == londonBoroughs[32]]
wandsworth

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
231,54000,1995-08-04,F,N,L,40,NaN,CHARLMONT ROAD,LONDON,LONDON,WANDSWORTH,GREATER LONDON
270,75000,1995-05-10,F,N,L,153,THE FIRST AND SECOND FLOOR FLAT,BATTERSEA HIGH STREET,LONDON,LONDON,WANDSWORTH,GREATER LONDON
400,128500,1995-03-01,T,N,F,149,NaN,TRENTHAM STREET,LONDON,LONDON,WANDSWORTH,GREATER LONDON
726,130000,1995-07-31,T,N,F,41,NaN,SUDLOW ROAD,LONDON,LONDON,WANDSWORTH,GREATER LONDON
790,156500,1995-12-07,T,N,F,55,NaN,MALLINSON ROAD,LONDON,LONDON,WANDSWORTH,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27721810,345000,2022-09-13,F,N,L,140,NaN,STRATHDON DRIVE,NaN,LONDON,WANDSWORTH,GREATER LONDON
27721819,530000,2022-04-22,F,N,L,BURSTOCK LODGE,FLAT 4,BURSTOCK ROAD,NaN,LONDON,WANDSWORTH,GREATER LONDON
27734247,384000,2022-03-24,O,N,L,2,NaN,MITCHAM ROAD,NaN,LONDON,WANDSWORTH,GREATER LONDON
27734250,30000,2022-02-04,O,N,F,50,NaN,MORING ROAD,TOOTING,LONDON,WANDSWORTH,GREATER LONDON
27734253,1160000,2022-08-17,O,N,F,132,NaN,BOUNDARIES ROAD,BALHAM,LONDON,WANDSWORTH,GREATER LONDON

**Lambeth**

In [161]:
lambeth = df.loc[df["District"] == londonBoroughs[22]]
lambeth

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
408,110995,1995-11-09,F,Y,L,10,41,PRIORY GROVE,LONDON,LONDON,LAMBETH,GREATER LONDON
868,91000,1995-05-24,F,Y,L,27,NaN,SYCAMORE MEWS,LONDON,LONDON,LAMBETH,GREATER LONDON
1275,72000,1995-05-15,F,N,L,KENNETH COURT,FLAT 9,KENNINGTON ROAD,LONDON,LONDON,LAMBETH,GREATER LONDON
1322,77000,1995-03-03,F,N,L,6,NaN,CRANWORTH GARDENS,LONDON,LONDON,LAMBETH,GREATER LONDON
1421,59950,1995-04-12,T,N,F,16,NaN,HUBBARD ROAD,LONDON,LONDON,LAMBETH,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27721811,480000,2022-03-29,T,N,F,52,NaN,LARBERT ROAD,NaN,LONDON,LAMBETH,GREATER LONDON
27721812,1865000,2022-08-25,F,N,L,"WHITEHOUSE APARTMENTS, 9",FLAT 1225,BELVEDERE ROAD,NaN,LONDON,LAMBETH,GREATER LONDON
27721813,325000,2022-08-04,O,N,L,WITLEY HOUSE,FLAT 15,REDLANDS WAY,NaN,LONDON,LAMBETH,GREATER LONDON
27734239,1800000,2022-04-06,O,N,F,TUDOR LODGE,NaN,VOSS COURT,NaN,LONDON,LAMBETH,GREATER LONDON
27734243,500000,2022-02-07,T,N,F,23,NaN,HAWKHURST ROAD,NaN,LONDON,LAMBETH,GREATER LONDON

**Southwark**

In [182]:
southwark = df.loc[df["District"] == londonBoroughs[28]]
southwark

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
554,160000,1995-03-30,F,N,L,58,NaN,NEW CONCORDIA WHARF,LONDON,LONDON,SOUTHWARK,GREATER LONDON
590,66500,1995-09-15,T,N,F,16,NaN,NUNHEAD GROVE,LONDON,LONDON,SOUTHWARK,GREATER LONDON
731,57786,1995-12-21,F,Y,L,12,FLAT 112,ROSSETTI ROAD,LONDON,LONDON,SOUTHWARK,GREATER LONDON
1159,207800,1995-07-21,S,N,F,17,NaN,PICKWICK ROAD,LONDON,LONDON,SOUTHWARK,GREATER LONDON
1542,82000,1995-02-10,F,N,L,33,FLAT 3,ARDBEG ROAD,LONDON,LONDON,SOUTHWARK,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27721603,1175000,2022-04-22,F,N,L,137A,NaN,PROVIDENCE SQUARE,NaN,LONDON,SOUTHWARK,GREATER LONDON
27721816,387500,2022-05-10,F,N,L,104,FLAT 4,NEWENT CLOSE,NaN,LONDON,SOUTHWARK,GREATER LONDON
27734227,560000,2022-02-18,O,N,F,244,NaN,BERMONDSEY STREET,NaN,LONDON,SOUTHWARK,GREATER LONDON
27734234,840000,2022-02-16,D,N,F,44,NaN,PECKHAM HILL STREET,NaN,LONDON,SOUTHWARK,GREATER LONDON
27734238,4200,2022-05-20,O,N,F,20,NaN,FENWICK ROAD,NaN,LONDON,SOUTHWARK,GREATER LONDON

**Tower Hamlets**

In [190]:
towerhamlets = df.loc[df["District"] == londonBoroughs[30]]
towerhamlets

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
119,54000,1995-02-01,F,N,L,42,NaN,DRIFFIELD ROAD,LONDON,LONDON,TOWER HAMLETS,GREATER LONDON
1115,132000,1995-12-11,F,N,L,25A,NaN,GOODHART PLACE,LONDON,LONDON,TOWER HAMLETS,GREATER LONDON
1216,80000,1995-11-15,T,N,F,9,NaN,SPANBY ROAD,LONDON,LONDON,TOWER HAMLETS,GREATER LONDON
2299,195000,1995-03-09,F,N,L,TRAFALGAR COURT,FLAT 52,WAPPING WALL,LONDON,LONDON,TOWER HAMLETS,GREATER LONDON
2566,65000,1995-12-20,T,N,F,41,NaN,HARBINGER ROAD,LONDON,LONDON,TOWER HAMLETS,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27734530,945000,2022-08-25,F,N,L,"SLIPWAY HOUSE, 2",FLAT 45,BURRELLS WHARF SQUARE,NaN,LONDON,TOWER HAMLETS,GREATER LONDON
27734544,557000,2022-06-10,F,N,L,21,NaN,MAYNARDS QUAY,NaN,LONDON,TOWER HAMLETS,GREATER LONDON
27734545,1050000,2022-02-04,F,N,L,"HOBART BUILDING, 2",FLAT 2702,WARDS PLACE,NaN,LONDON,TOWER HAMLETS,GREATER LONDON
27734546,290000,2022-03-18,F,N,L,94,NaN,RAINHILL WAY,NaN,LONDON,TOWER HAMLETS,GREATER LONDON
27734548,735000,2022-02-18,F,N,L,LEEWARD COURT,FLAT 28,ASHER WAY,NaN,LONDON,TOWER HAMLETS,GREATER LONDON

**Hackney**

In [127]:
hackney = df.loc[df["District"] == londonBoroughs[12]]
hackney

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
257,62000,1995-08-29,T,N,F,29,NaN,ASHENDEN ROAD,LONDON,LONDON,HACKNEY,GREATER LONDON
484,65000,1995-02-21,S,N,F,BENFLEET COURT,18,QUEENSBRIDGE ROAD,LONDON,LONDON,HACKNEY,GREATER LONDON
637,183000,1995-05-30,S,N,F,9,NaN,CULFORD GROVE,LONDON,LONDON,HACKNEY,GREATER LONDON
867,100000,1995-03-06,T,N,F,92,NaN,NIGHTINGALE ROAD,LONDON,LONDON,HACKNEY,GREATER LONDON
2122,53000,1995-07-19,F,N,L,6B,NaN,ST PHILIPS ROAD,LONDON,LONDON,HACKNEY,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27734517,420000,2022-10-04,F,N,L,167,GROUND FLOOR FLAT,EVERING ROAD,NaN,LONDON,HACKNEY,GREATER LONDON
27734525,545000,2022-07-29,F,N,L,HARTINGTONS COURT,FLAT 207,COSTER AVENUE,NaN,LONDON,HACKNEY,GREATER LONDON
27734532,1680000,2022-08-05,F,N,L,2,FLAT 4203,PRINCIPAL PLACE,NaN,LONDON,HACKNEY,GREATER LONDON
27734533,830000,2022-09-14,F,N,L,3,FLAT 18,BRACKLYN STREET,NaN,LONDON,HACKNEY,GREATER LONDON
27734537,760000,2022-02-16,F,N,L,BARBEL COURT,FLAT 22,CLAPTON COMMON,NaN,LONDON,HACKNEY,GREATER LONDON

**Islington**

In [150]:
islington = df.loc[df["District"] == londonBoroughs[19]]
islington

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
407,157500,1995-03-17,S,N,F,104,NaN,LADY MARGARET ROAD,LONDON,LONDON,ISLINGTON,GREATER LONDON
795,110000,1995-07-14,F,N,L,21,GROUND FLOOR FLAT,MERCERS ROAD,LONDON,LONDON,ISLINGTON,GREATER LONDON
1195,155000,1995-09-13,F,N,L,29 - 31,FLAT 13,DINGLEY PLACE,LONDON,LONDON,ISLINGTON,GREATER LONDON
1471,182500,1995-06-16,T,N,F,1,NaN,HOPE CLOSE,LONDON,LONDON,ISLINGTON,GREATER LONDON
1492,115000,1995-08-31,T,N,F,42,FLAT,SEVEN SISTERS ROAD,LONDON,LONDON,ISLINGTON,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27734535,355000,2022-09-09,F,N,L,ERIC FLETCHER COURT,FLAT 53,ESSEX ROAD,NaN,LONDON,ISLINGTON,GREATER LONDON
27734536,425000,2022-09-23,F,N,L,19,NaN,THESEUS WALK,NaN,LONDON,ISLINGTON,GREATER LONDON
27734538,540000,2022-09-14,F,N,L,71,FLAT B,NORTHCHURCH ROAD,NaN,LONDON,ISLINGTON,GREATER LONDON
27734542,470000,2022-09-02,F,N,L,"SOUTHSIDE, 32",FLAT 34,CARLETON ROAD,NaN,LONDON,ISLINGTON,GREATER LONDON
27734550,715000,2022-08-16,F,N,L,99,FLAT C,GROSVENOR AVENUE,NaN,LONDON,ISLINGTON,GREATER LONDON

**Camden**

In [24]:
camden = df.loc[df["District"] == londonBoroughs[5]]
camden

,Price,DateOfSale,Postcode,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
1795,58000,1995-04-05,NW6 3DY,F,N,L,121,FLAT 2,CANFIELD GARDENS,LONDON,LONDON,CAMDEN,GREATER LONDON
1898,167000,1995-07-14,NW5 3HD,T,N,L,20,NaN,MARSDEN STREET,LONDON,LONDON,CAMDEN,GREATER LONDON
2449,165000,1995-05-01,NW6 3EE,F,N,L,98,FLAT 1,CANFIELD GARDENS,LONDON,LONDON,CAMDEN,GREATER LONDON
2661,79000,1995-12-15,NW6 2AB,F,N,L,25,GARDEN FLOOR FLAT,HEMSTAL ROAD,LONDON,LONDON,CAMDEN,GREATER LONDON
2728,375000,1995-09-25,NW1 9NJ,S,N,F,234,NaN,ROYAL COLLEGE STREET,LONDON,LONDON,CAMDEN,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27734230,15000,2022-01-25,NW2 3QG,O,N,F,2,NaN,KINGSCROFT ROAD,NaN,LONDON,CAMDEN,GREATER LONDON
27734231,1325000,2022-05-16,NW5 4HX,O,N,F,2,NaN,SOUTHAMPTON ROAD,NaN,LONDON,CAMDEN,GREATER LONDON
27734244,985000,2022-07-22,WC1H 9QS,O,N,F,"ALBANY HOUSE, 41",NaN,JUDD STREET,NaN,LONDON,CAMDEN,GREATER LONDON
27734248,12250,2022-06-29,NW6 1BJ,O,N,F,21,NaN,HOLMDALE ROAD,NaN,LONDON,CAMDEN,GREATER LONDON
27734257,18000000,2022-01-05,NW6 4JD,O,N,F,142 - 162,NaN,KILBURN HIGH ROAD,NaN,LONDON,CAMDEN,GREATER LONDON

**Brent**

In [25]:
brent = df.loc[df["District"] == "BRENT"]
brent

,Price,DateOfSale,Postcode,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
382,118000,1995-07-11,HA9 8NW,S,N,F,141,NaN,PRESTON ROAD,WEMBLEY,WEMBLEY,BRENT,GREATER LONDON
1030,58031,1995-01-20,NW2 6RW,F,N,L,78,NaN,CAMPBELL GORDON WAY,LONDON,LONDON,BRENT,GREATER LONDON
1143,65000,1995-12-14,NW10 5SB,F,N,L,25,FIRST FLOOR FLAT,ASHBURNHAM ROAD,LONDON,LONDON,BRENT,GREATER LONDON
1196,123000,1995-08-25,HA9 9JY,D,N,F,3,NaN,EVERSLEY AVENUE,WEMBLEY,WEMBLEY,BRENT,GREATER LONDON
1832,58100,1995-10-12,NW2 5PJ,S,N,F,92,NaN,VILLIERS ROAD,LONDON,LONDON,BRENT,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27733386,1030000,2022-09-14,NW6 7TU,F,N,L,44,FLAT 2,WINCHESTER AVENUE,NaN,LONDON,BRENT,GREATER LONDON
27733541,338000,2022-09-08,NW2 4QA,F,N,L,"ERIN COURT, 94",FLAT 20,WALM LANE,NaN,LONDON,BRENT,GREATER LONDON
27734492,285000,2022-09-28,NW2 6AD,F,N,L,68,FLAT F,ANSON ROAD,NaN,LONDON,BRENT,GREATER LONDON
27734515,450000,2022-06-16,NW6 5DQ,F,N,L,"CHASE HOUSE, 1",FLAT 2,HANSEL ROAD,NaN,LONDON,BRENT,GREATER LONDON
27734541,522500,2022-06-16,NW2 4JX,F,N,L,126,FLAT 3,MELROSE AVENUE,NaN,LONDON,BRENT,GREATER LONDON

**Ealing**

In [121]:
ealing = df.loc[df["District"] == londonBoroughs[9]]
ealing

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
202,120000,1995-03-17,T,N,F,6,NaN,EASTBOURNE AVENUE,LONDON,LONDON,EALING,GREATER LONDON
551,60000,1995-06-26,F,N,L,32,NaN,CROMWELL CLOSE,LONDON,LONDON,EALING,GREATER LONDON
725,138000,1995-02-24,T,N,F,42,NaN,BLONDIN AVENUE,LONDON,LONDON,EALING,GREATER LONDON
765,63500,1995-04-03,F,N,L,24A,NaN,GREEN LANE,LONDON,LONDON,EALING,GREATER LONDON
820,101000,1995-07-14,T,N,F,15,NaN,BROOKBANK AVENUE,LONDON,LONDON,EALING,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27734498,539950,2022-09-09,F,N,L,18,NaN,BERRYMEAD GARDENS,NaN,LONDON,EALING,GREATER LONDON
27734519,1000000,2022-09-29,T,N,F,6,NaN,CONINGSBY ROAD,NaN,LONDON,EALING,GREATER LONDON
27734521,799950,2022-09-15,F,N,L,15,FLAT 3,GRANGE PARK,NaN,LONDON,EALING,GREATER LONDON
27734523,500000,2022-05-31,F,N,L,23,NaN,DRAYTON ROAD,NaN,LONDON,EALING,GREATER LONDON
27734552,555050,2022-09-26,S,N,F,26,NaN,PLEASANT WAY,NaN,WEMBLEY,EALING,GREATER LONDON

**Hounslow**

In [147]:
hounslow = df.loc[df["District"] == londonBoroughs[18]]
hounslow

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
528,178294,1995-03-15,S,N,F,441,NaN,GREAT WEST ROAD,HOUNSLOW,HOUNSLOW,HOUNSLOW,GREATER LONDON
560,61000,1995-06-02,S,Y,F,THE STABLES,4,BANKSIDE CLOSE,ISLEWORTH,ISLEWORTH,HOUNSLOW,GREATER LONDON
562,95000,1995-08-04,T,N,F,33,NaN,ST CHRISTOPHERS CLOSE,ISLEWORTH,ISLEWORTH,HOUNSLOW,GREATER LONDON
666,69000,1995-08-21,S,N,F,19,NaN,WELLINGTON AVENUE,HOUNSLOW,HOUNSLOW,HOUNSLOW,GREATER LONDON
1021,67500,1995-12-28,S,N,F,11,NaN,PORTLAND CRESCENT,FELTHAM,FELTHAM,HOUNSLOW,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27734520,730000,2022-09-12,S,N,F,11,NaN,NOTTINGHAM ROAD,NaN,ISLEWORTH,HOUNSLOW,GREATER LONDON
27734528,1287000,2022-04-29,T,N,F,55,NaN,THORNEY HEDGE ROAD,NaN,LONDON,HOUNSLOW,GREATER LONDON
27734543,635000,2022-09-15,F,N,L,MERLIN HOUSE,FLAT 13,BELMONT TERRACE,NaN,LONDON,HOUNSLOW,GREATER LONDON
27734551,1250000,2022-09-16,T,N,F,24,NaN,LATTIMER PLACE,NaN,LONDON,HOUNSLOW,GREATER LONDON
27734557,415000,2022-10-14,T,N,F,13,NaN,SHEPHERD CLOSE,HANWORTH,FELTHAM,HOUNSLOW,GREATER LONDON

**Richmond upon Thames**

In [179]:
richmondUponThames = df.loc[df["District"] == londonBoroughs[27]]
richmondUponThames

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
160,79000,1995-08-25,S,N,F,197,NaN,POWDER MILL LANE,TWICKENHAM,TWICKENHAM,RICHMOND UPON THAMES,GREATER LONDON
508,68000,1995-12-04,F,N,L,ARLINGTON COURT,25,ARLINGTON ROAD,TWICKENHAM,TWICKENHAM,RICHMOND UPON THAMES,GREATER LONDON
529,68500,1995-10-13,F,N,L,SUSSEX COURT,FLAT 30,GROVE ROAD,LONDON,LONDON,RICHMOND UPON THAMES,GREATER LONDON
604,110000,1995-01-12,S,N,F,139,NaN,PARK ROAD,TEDDINGTON,TEDDINGTON,RICHMOND UPON THAMES,GREATER LONDON
748,88500,1995-02-10,F,N,L,91,NaN,KENLEY ROAD,TWICKENHAM,TWICKENHAM,RICHMOND UPON THAMES,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27721282,715000,2022-05-20,T,N,F,86,NaN,HIGH STREET,HAMPTON WICK,KINGSTON UPON THAMES,RICHMOND UPON THAMES,GREATER LONDON
27721296,770000,2022-06-01,T,N,F,4,NaN,CHRISTCHURCH AVENUE,NaN,TEDDINGTON,RICHMOND UPON THAMES,GREATER LONDON
27721303,178500,2022-09-14,F,N,L,680A,NaN,HANWORTH ROAD,WHITTON,HOUNSLOW,RICHMOND UPON THAMES,GREATER LONDON
27721598,660000,2022-08-10,F,N,L,"TURNER HOUSE, 26",FLAT 3,CLEVEDON ROAD,NaN,TWICKENHAM,RICHMOND UPON THAMES,GREATER LONDON
27721808,2300000,2022-05-12,O,N,F,26 - 28,NaN,PRIESTS BRIDGE,NaN,LONDON,RICHMOND UPON THAMES,GREATER LONDON

**Kingston Upon Thames**

In [157]:
kingstonUponThames = df.loc[df["District"] == londonBoroughs[21]]
kingstonUponThames

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
552,65250,1995-07-13,F,Y,L,21,NaN,LYSANDER GARDENS,SURBITON,SURBITON,KINGSTON UPON THAMES,GREATER LONDON
576,107950,1995-05-19,D,Y,F,27,NaN,ARNOLD DRIVE,CHESSINGTON,CHESSINGTON,KINGSTON UPON THAMES,GREATER LONDON
717,92995,1995-04-26,S,Y,F,13,NaN,HASTINGS DRIVE,SURBITON,SURBITON,KINGSTON UPON THAMES,GREATER LONDON
1007,118000,1995-03-13,S,N,F,31,NaN,ELLERTON ROAD,SURBITON,SURBITON,KINGSTON UPON THAMES,GREATER LONDON
1456,59000,1995-11-30,T,N,F,64,NaN,ARCHER CLOSE,KINGSTON UPON THAMES,KINGSTON UPON THAMES,KINGSTON UPON THAMES,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27710283,299995,2022-06-01,F,N,L,340,FLAT 3,EWELL ROAD,NaN,SURBITON,KINGSTON UPON THAMES,GREATER LONDON
27710286,2000000,2022-06-15,O,N,F,226A,NaN,KINGSTON ROAD,NaN,NEW MALDEN,KINGSTON UPON THAMES,GREATER LONDON
27710297,5000,2022-07-13,O,N,L,206,NaN,CAMBRIDGE ROAD,NaN,KINGSTON UPON THAMES,KINGSTON UPON THAMES,GREATER LONDON
27712090,350000,2022-04-19,O,N,F,KINGSCOURT COACHWORKS,NaN,GREEN LANE,NaN,CHESSINGTON,KINGSTON UPON THAMES,GREATER LONDON
27721597,315000,2022-04-01,O,N,F,19,NaN,CAMBRIDGE ROAD,NaN,KINGSTON UPON THAMES,KINGSTON UPON THAMES,GREATER LONDON

**Merton**

In [171]:
merton = df.loc[df["District"] == londonBoroughs[24]]
merton

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
178,90000,1995-07-26,T,N,F,276,NaN,DURNSFORD ROAD,LONDON,LONDON,MERTON,GREATER LONDON
383,139950,1995-07-21,T,N,F,9,NaN,ALVERSTONE AVENUE,LONDON,LONDON,MERTON,GREATER LONDON
1674,138000,1995-12-13,T,N,F,77,NaN,MELROSE AVENUE,LONDON,LONDON,MERTON,GREATER LONDON
2108,82000,1995-07-21,F,N,L,4,FLAT 3,THE DRIVE,LONDON,LONDON,MERTON,GREATER LONDON
2132,77000,1995-06-01,T,N,F,77,NaN,DENISON ROAD,LONDON,LONDON,MERTON,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27710294,525000,2022-05-09,S,N,F,7,NaN,PRESHAW CRESCENT,NaN,MITCHAM,MERTON,GREATER LONDON
27712096,2870000,2022-03-10,O,N,F,18A,NaN,RIDGWAY,NaN,LONDON,MERTON,GREATER LONDON
27716460,500000,2022-06-10,T,N,F,41,NaN,CAITHNESS ROAD,NaN,MITCHAM,MERTON,GREATER LONDON
27721602,38500000,2022-05-13,O,N,L,UNIT 19,NaN,MITCHAM INDUSTRIAL ESTATE,NaN,MITCHAM,MERTON,GREATER LONDON
27721604,160000,2022-05-06,O,N,F,387,NaN,DURNSFORD ROAD,NaN,LONDON,MERTON,GREATER LONDON

**Sutton**

In [187]:
sutton = df.loc[df["District"] == londonBoroughs[29]]
sutton

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
14,59995,1995-10-19,F,Y,L,55,NaN,CARAWAY PLACE,WALLINGTON,WALLINGTON,SUTTON,GREATER LONDON
99,75000,1995-01-16,S,N,F,44,NaN,CHERTSEY DRIVE,SUTTON,SUTTON,SUTTON,GREATER LONDON
108,87000,1995-07-28,S,N,F,76,NaN,ERSKINE ROAD,SUTTON,SUTTON,SUTTON,GREATER LONDON
483,60000,1995-12-18,S,N,F,21,NaN,PARK LANE,CARSHALTON,CARSHALTON,SUTTON,GREATER LONDON
752,85000,1995-04-13,T,N,F,148,NaN,STANLEY ROAD,CARSHALTON,CARSHALTON,SUTTON,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27712074,225000,2022-01-21,F,N,L,"WADDON HOUSE, 283",FLAT 12,STAFFORD ROAD,NaN,CROYDON,SUTTON,GREATER LONDON
27712083,181000,2022-06-28,F,N,L,24,FLAT 3,FOXGLOVE WAY,NaN,WALLINGTON,SUTTON,GREATER LONDON
27712092,40000,2022-01-21,O,N,L,312,NaN,CARSHALTON ROAD,NaN,CARSHALTON,SUTTON,GREATER LONDON
27712093,230000,2022-01-31,O,N,L,77A,NaN,BANSTEAD ROAD,NaN,CARSHALTON,SUTTON,GREATER LONDON
27716450,499000,2022-04-28,T,N,F,56,NaN,GOMSHALL AVENUE,NaN,WALLINGTON,SUTTON,GREATER LONDON

**Croydon**

In [120]:
croydon = df.loc[df["District"] == londonBoroughs[8]]
croydon

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
81,77000,1995-07-26,T,N,F,145,NaN,STANFORD ROAD,LONDON,LONDON,CROYDON,GREATER LONDON
530,130000,1995-07-31,S,N,F,25,NaN,SUNDOWN AVENUE,SOUTH CROYDON,SOUTH CROYDON,CROYDON,GREATER LONDON
719,64000,1995-03-06,S,N,F,7,NaN,PRICE ROAD,CROYDON,CROYDON,CROYDON,GREATER LONDON
985,69500,1995-09-29,T,Y,F,43,NaN,KELVIN GARDENS,CROYDON,CROYDON,CROYDON,GREATER LONDON
991,74000,1995-08-30,T,N,F,22,NaN,HOLLMAN GARDENS,LONDON,LONDON,CROYDON,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27712082,260000,2022-03-04,F,N,L,27,NaN,ESKMONT RIDGE,NaN,LONDON,CROYDON,GREATER LONDON
27712084,210000,2022-05-26,F,N,L,36,NaN,THE WOODLANDS,NaN,LONDON,CROYDON,GREATER LONDON
27712085,407754,2022-04-01,F,N,L,"LEWIS HOUSE, 224",FLAT 5,BEULAH HILL,NaN,LONDON,CROYDON,GREATER LONDON
27712095,440000,2022-03-21,F,N,L,"CHERRY BLOSSOM COURT, 2",FLAT 6,COULSDON ROAD,NaN,COULSDON,CROYDON,GREATER LONDON
27716458,395000,2022-04-11,T,N,F,48,NaN,BEAUCHAMP ROAD,NaN,LONDON,CROYDON,GREATER LONDON

**Bromley**

In [116]:
bromley = df.loc[df["District"] == londonBoroughs[4]]
bromley

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
64,80000,1995-06-01,T,N,F,25,NaN,DERRICK ROAD,BECKENHAM,BECKENHAM,BROMLEY,GREATER LONDON
240,81000,1995-03-09,S,N,F,51,NaN,HURSTDENE AVENUE,BROMLEY,BROMLEY,BROMLEY,GREATER LONDON
874,68000,1995-05-31,F,N,L,29B,NaN,LANSDOWNE ROAD,BROMLEY,BROMLEY,BROMLEY,GREATER LONDON
1004,115000,1995-01-20,S,N,F,113,NaN,PETTS WOOD ROAD,PETTS WOOD,ORPINGTON,BROMLEY,GREATER LONDON
1181,150000,1995-04-28,D,N,F,THE TURRET HOUSE,NaN,SOUTH VIEW,BROMLEY,BROMLEY,BROMLEY,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27714769,490000,2022-06-30,T,N,F,22,NaN,BROOKMEAD WAY,NaN,ORPINGTON,BROMLEY,GREATER LONDON
27714785,845000,2022-07-29,D,N,F,NEVILLE COTTAGE,NaN,BULL LANE,NaN,CHISLEHURST,BROMLEY,GREATER LONDON
27714793,515000,2022-08-04,S,N,F,4,NaN,RUSKIN DRIVE,NaN,ORPINGTON,BROMLEY,GREATER LONDON
27715115,1428000,2022-09-09,D,N,F,21,NaN,LAWRIE PARK CRESCENT,NaN,LONDON,BROMLEY,GREATER LONDON
27718908,915000,2022-01-14,D,N,F,44,NaN,SALISBURY ROAD,NaN,BROMLEY,BROMLEY,GREATER LONDON

**Lewisham**

In [164]:
lewisham = df.loc[df["District"] == londonBoroughs[23]]
lewisham

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
46,66500,1995-07-12,T,N,F,6,NaN,BROXTED ROAD,LONDON,LONDON,LEWISHAM,GREATER LONDON
598,200500,1995-11-20,D,N,F,40,NaN,SUNDERLAND ROAD,LONDON,LONDON,LEWISHAM,GREATER LONDON
1128,59500,1995-11-21,F,N,L,47A,NaN,BURNT ASH ROAD,LONDON,LONDON,LEWISHAM,GREATER LONDON
1501,68750,1995-07-28,F,Y,L,"VISTA HEIGHTS, 48",FLAT 8,DUNCOMBE HILL,LONDON,LONDON,LEWISHAM,GREATER LONDON
1764,72500,1995-04-24,T,N,F,42,NaN,STILLNESS ROAD,LONDON,LONDON,LEWISHAM,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27721821,265000,2022-08-19,F,N,L,115B,NaN,MOUNT PLEASANT ROAD,NaN,LONDON,LEWISHAM,GREATER LONDON
27721822,204000,2022-04-01,F,N,L,FAIRLAWN COURT,FLAT 5,FAIRLAWN PARK,NaN,LONDON,LEWISHAM,GREATER LONDON
27734237,815000,2022-07-04,O,N,F,107,NaN,KIRKDALE,SYDENHAM,LONDON,LEWISHAM,GREATER LONDON
27734245,200000,2022-08-11,T,N,F,83,NaN,ALGIERS ROAD,NaN,LONDON,LEWISHAM,GREATER LONDON
27734255,640000,2022-01-14,S,N,F,157,NaN,SYDENHAM PARK ROAD,NaN,LONDON,LEWISHAM,GREATER LONDON

**Greenwich**

In [125]:
greenwich = df.loc[df["District"] == londonBoroughs[11]]
greenwich

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
647,87950,1995-11-30,F,N,L,ROBERTSON HOUSE,FLAT 5,ROYAL HERBERT PAVILIONS,LONDON,LONDON,GREENWICH,GREATER LONDON
1058,162000,1995-06-30,F,N,L,11,FLAT 1,MORDEN ROAD,LONDON,LONDON,GREENWICH,GREATER LONDON
1942,89950,1995-03-01,F,N,L,30,NaN,PARKSIDE,LONDON,LONDON,GREENWICH,GREATER LONDON
2069,51000,1995-12-06,S,N,F,25,NaN,APPLETON ROAD,LONDON,LONDON,GREENWICH,GREATER LONDON
2194,53995,1995-02-07,F,Y,L,65,NaN,BERNARD ASHLEY DRIVE,LONDON,LONDON,GREENWICH,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27721820,340000,2022-08-17,T,N,F,83,NaN,BARTH ROAD,NaN,LONDON,GREENWICH,GREATER LONDON
27734229,1650000,2022-05-17,O,N,F,97 - 101,FIRST AND SECOND FLOORS,ELTHAM HIGH STREET,NaN,LONDON,GREENWICH,GREATER LONDON
27734246,436500,2022-09-02,O,N,F,139,NaN,PLUMSTEAD ROAD,NaN,LONDON,GREENWICH,GREATER LONDON
27734249,305000,2022-08-12,T,N,F,10,NaN,BREWERY ROAD,NaN,LONDON,GREENWICH,GREATER LONDON
27734251,400000,2022-05-05,O,N,F,"DENTAL SURGERY, 259",NaN,PLUMSTEAD HIGH STREET,NaN,LONDON,GREENWICH,GREATER LONDON

**Bexley**

In [114]:
bexley = df.loc[df["District"] == londonBoroughs[2]]
bexley

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
729,67995,1995-04-21,T,N,F,19,NaN,ROWAN ROAD,BEXLEYHEATH,BEXLEYHEATH,BEXLEY,GREATER LONDON
732,76000,1995-03-10,F,N,L,"SHIRLEY HEIGHTS, 14",9,CROOK LOG,BEXLEYHEATH,BEXLEYHEATH,BEXLEY,GREATER LONDON
786,68500,1995-07-21,S,N,F,39,NaN,LOVEL AVENUE,WELLING,WELLING,BEXLEY,GREATER LONDON
789,85500,1995-12-12,D,N,F,149,NaN,NORTH CRAY ROAD,SIDCUP,SIDCUP,BEXLEY,GREATER LONDON
960,67000,1995-10-02,T,N,F,11,NaN,NORTHCOTE ROAD,SIDCUP,SIDCUP,BEXLEY,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27712764,452000,2022-08-23,S,N,F,107,NaN,HEATH ROAD,CRAYFORD,DARTFORD,BEXLEY,GREATER LONDON
27714755,420000,2022-05-13,S,N,F,15,NaN,MARLEY AVENUE,NaN,BEXLEYHEATH,BEXLEY,GREATER LONDON
27714762,422000,2022-05-20,S,N,F,149,NaN,HOOK LANE,NaN,WELLING,BEXLEY,GREATER LONDON
27714779,395000,2022-07-26,S,N,F,2,NaN,WINIFRED ROAD,NaN,ERITH,BEXLEY,GREATER LONDON
27715180,550000,2022-08-09,T,N,F,92,NaN,SWANTON ROAD,NaN,ERITH,BEXLEY,GREATER LONDON

**Havering**

In [140]:
havering = df.loc[df["District"] == londonBoroughs[16]]
havering

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
42,84000,1995-07-28,T,N,F,40,NaN,MOUNT PLEASANT ROAD,ROMFORD,ROMFORD,HAVERING,GREATER LONDON
95,56000,1995-02-24,T,N,F,1,NaN,RICHMOND ROAD,ROMFORD,ROMFORD,HAVERING,GREATER LONDON
366,68000,1995-04-10,S,N,F,219,NaN,CHASE CROSS ROAD,ROMFORD,ROMFORD,HAVERING,GREATER LONDON
377,60000,1995-02-03,S,N,F,17,NaN,PALMERSTON ROAD,RAINHAM,RAINHAM,HAVERING,GREATER LONDON
980,54000,1995-12-21,T,N,F,5,NaN,HEATON CLOSE,ROMFORD,ROMFORD,HAVERING,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27733738,260000,2022-10-03,S,N,L,20,NaN,BRENDANS CLOSE,NaN,HORNCHURCH,HAVERING,GREATER LONDON
27733746,701000,2022-09-16,D,N,F,3,NaN,SAVOY GROVE,NaN,HORNCHURCH,HAVERING,GREATER LONDON
27733751,445000,2022-07-22,T,N,F,12,NaN,KINGSMEAD AVENUE,NaN,ROMFORD,HAVERING,GREATER LONDON
27733763,215000,2022-09-09,F,N,L,ASTRA COURT WEST,FLAT 40,ASTRA CLOSE,NaN,HORNCHURCH,HAVERING,GREATER LONDON
27733764,225000,2022-02-25,F,N,L,WAVE COURT,FLAT 63,MAXWELL ROAD,NaN,ROMFORD,HAVERING,GREATER LONDON

**Barking and Dagenham**

In [111]:
barkingAndDagenham = df.loc[df["District"] == londonBoroughs[0]]
barkingAndDagenham

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
1332,73500,1995-12-08,S,Y,F,21,NaN,BLESSING WAY,BARKING,BARKING,BARKING AND DAGENHAM,GREATER LONDON
2344,83500,1995-06-12,T,N,F,31,NaN,COOMBEWOOD DRIVE,ROMFORD,ROMFORD,BARKING AND DAGENHAM,GREATER LONDON
3176,57000,1995-09-15,S,N,F,23,NaN,FIELDWAY,DAGENHAM,DAGENHAM,BARKING AND DAGENHAM,GREATER LONDON
4447,53000,1995-06-30,F,Y,L,29,NaN,PLUMTREE CLOSE,DAGENHAM,DAGENHAM,BARKING AND DAGENHAM,GREATER LONDON
6979,50750,1995-09-08,F,N,L,139,NaN,WATERSIDE CLOSE,BARKING,BARKING,BARKING AND DAGENHAM,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27721896,353000,2022-10-06,T,N,F,64,NaN,CURZON CRESCENT,NaN,BARKING,BARKING AND DAGENHAM,GREATER LONDON
27721897,370000,2022-03-25,T,N,F,121,NaN,BROMHALL ROAD,NaN,DAGENHAM,BARKING AND DAGENHAM,GREATER LONDON
27722002,426000,2022-09-16,S,N,F,4,NaN,BRYCE ROAD,NaN,DAGENHAM,BARKING AND DAGENHAM,GREATER LONDON
27722003,490000,2022-10-03,S,N,F,696,NaN,DAGENHAM ROAD,NaN,DAGENHAM,BARKING AND DAGENHAM,GREATER LONDON
27722124,257000,2022-09-02,F,N,L,DRIBERG COURT,FLAT 33,BROMHALL ROAD,NaN,DAGENHAM,BARKING AND DAGENHAM,GREATER LONDON

**Redbridge**

In [176]:
redbridge = df.loc[df["District"] == londonBoroughs[26]]
redbridge

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
170,73000,1995-02-03,T,N,F,2,NaN,ST HELENS ROAD,ILFORD,ILFORD,REDBRIDGE,GREATER LONDON
278,68500,1995-10-02,T,N,F,66,NaN,GROVE ROAD,CHADWELL HEATH,ROMFORD,REDBRIDGE,GREATER LONDON
306,93000,1995-11-13,T,N,F,124,NaN,WANSTEAD PARK AVENUE,LONDON,LONDON,REDBRIDGE,GREATER LONDON
516,75500,1995-09-01,T,N,F,4,NaN,MITCHAM ROAD,ILFORD,ILFORD,REDBRIDGE,GREATER LONDON
745,50500,1995-07-28,F,N,L,1066,NaN,EASTERN AVENUE,ILFORD,ILFORD,REDBRIDGE,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27729494,1650000,2022-09-28,S,N,F,48,NaN,REDBRIDGE LANE WEST,NaN,LONDON,REDBRIDGE,GREATER LONDON
27729495,488000,2022-06-01,S,N,F,84,NaN,WENSLEYDALE AVENUE,NaN,ILFORD,REDBRIDGE,GREATER LONDON
27733747,257000,2022-08-31,F,N,L,615,NaN,LONGBRIDGE ROAD,NaN,BARKING,REDBRIDGE,GREATER LONDON
27733748,215000,2022-09-29,F,N,L,563A,NaN,GREEN LANE,NaN,ILFORD,REDBRIDGE,GREATER LONDON
27733761,325000,2022-10-04,F,N,L,54,NaN,DRYDEN CLOSE,NaN,ILFORD,REDBRIDGE,GREATER LONDON

**Newham**

In [174]:
newham = df.loc[df["District"] == londonBoroughs[25]]
newham

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
2413,82500,1995-08-09,T,N,F,118,NaN,HALLYWELL CRESCENT,LONDON,LONDON,NEWHAM,GREATER LONDON
2829,53000,1995-11-06,F,Y,L,165,NaN,JACK CLOW ROAD,LONDON,LONDON,NEWHAM,GREATER LONDON
5313,56500,1995-10-06,T,N,F,96,NaN,DEVONSHIRE ROAD,LONDON,LONDON,NEWHAM,GREATER LONDON
5413,77000,1995-10-26,T,N,F,39,NaN,MARYLAND ROAD,LONDON,LONDON,NEWHAM,GREATER LONDON
5671,57150,1995-04-27,T,N,F,7,NaN,ST GEORGES SQUARE,LONDON,LONDON,NEWHAM,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27722139,365000,2022-09-21,F,N,L,"UPTON HEIGHTS, 214",FLAT 44,UPTON LANE,NaN,LONDON,NEWHAM,GREATER LONDON
27722147,325940,2022-09-30,F,N,L,"AMMONITE HOUSE, 12",FLAT 54,FLINT CLOSE,NaN,LONDON,NEWHAM,GREATER LONDON
27722149,480000,2022-06-29,F,N,L,"THE GRAINSTORE, 4",FLAT 49,WESTERN GATEWAY,NaN,LONDON,NEWHAM,GREATER LONDON
27722151,470000,2022-08-16,T,N,F,31,NaN,WOODSIDE ROAD,NaN,LONDON,NEWHAM,GREATER LONDON
27722152,240000,2022-08-30,F,N,L,"THE SPHERE, 1",FLAT 43,HALLSVILLE ROAD,CANNING TOWN,LONDON,NEWHAM,GREATER LONDON

**Waltham Forest**

In [193]:
walthamForest = df.loc[df["District"] == londonBoroughs[31]]
walthamForest

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
546,60000,1995-12-18,T,N,F,15,NaN,ROSEBANK GROVE,LONDON,LONDON,WALTHAM FOREST,GREATER LONDON
1452,54000,1995-08-18,T,N,F,68,NaN,FARMER ROAD,LONDON,LONDON,WALTHAM FOREST,GREATER LONDON
2098,55950,1995-05-19,S,N,F,217,NaN,WINNS AVENUE,WALTHAMSTOW,LONDON,WALTHAM FOREST,GREATER LONDON
2123,58000,1995-01-31,T,N,F,3,NaN,WILMOT ROAD,LONDON,LONDON,WALTHAM FOREST,GREATER LONDON
2913,71000,1995-06-09,S,N,F,25,NaN,FORESTERS DRIVE,LONDON,LONDON,WALTHAM FOREST,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27733536,395000,2022-08-18,F,N,L,137A,NaN,GRANGE PARK ROAD,NaN,LONDON,WALTHAM FOREST,GREATER LONDON
27733538,1087000,2022-09-15,T,N,F,43,NaN,BYRON ROAD,NaN,LONDON,WALTHAM FOREST,GREATER LONDON
27733539,1095000,2022-10-03,T,N,F,41,NaN,BYRON ROAD,NaN,LONDON,WALTHAM FOREST,GREATER LONDON
27734511,487000,2022-09-20,F,N,L,118,NaN,WINNS AVENUE,WALTHAMSTOW,LONDON,WALTHAM FOREST,GREATER LONDON
27734540,525000,2022-08-04,T,N,F,300,NaN,BLACKHORSE LANE,NaN,LONDON,WALTHAM FOREST,GREATER LONDON

**Haringey**

In [132]:
haringey = df.loc[df["District"] == londonBoroughs[14]]
haringey

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
61,67995,1995-09-20,T,N,F,155,NaN,MORLEY AVENUE,LONDON,LONDON,HARINGEY,GREATER LONDON
197,243000,1995-06-30,T,N,F,92,NaN,CECILE PARK,LONDON,LONDON,HARINGEY,GREATER LONDON
706,64000,1995-07-31,T,N,F,76,NaN,LEALAND ROAD,LONDON,LONDON,HARINGEY,GREATER LONDON
730,425000,1995-07-27,S,N,F,60,NaN,TALBOT ROAD,HIGHGATE,LONDON,HARINGEY,GREATER LONDON
836,80000,1995-11-27,T,N,F,109,NaN,BRUCE GROVE,LONDON,LONDON,HARINGEY,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27734516,346400,2022-09-30,F,N,L,164,FLAT D,STAPLETON HALL ROAD,NaN,LONDON,HARINGEY,GREATER LONDON
27734518,230000,2022-09-23,F,N,L,618D,NaN,LORDSHIP LANE,NaN,LONDON,HARINGEY,GREATER LONDON
27734529,314000,2022-06-07,F,N,L,BEAUFORT HOUSE,FLAT 2,TALBOT ROAD,SOUTH TOTTENHAM,LONDON,HARINGEY,GREATER LONDON
27734539,385000,2022-09-01,F,N,L,GRANVILLE COURT,FLAT 25,MOUNT VIEW ROAD,NaN,LONDON,HARINGEY,GREATER LONDON
27734556,600000,2022-10-03,T,N,L,2A,NaN,PEMBERTON ROAD,NaN,LONDON,HARINGEY,GREATER LONDON

**Enfield**

In [122]:
enfield = df.loc[df["District"] == londonBoroughs[9]]
enfield

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
202,120000,1995-03-17,T,N,F,6,NaN,EASTBOURNE AVENUE,LONDON,LONDON,EALING,GREATER LONDON
551,60000,1995-06-26,F,N,L,32,NaN,CROMWELL CLOSE,LONDON,LONDON,EALING,GREATER LONDON
725,138000,1995-02-24,T,N,F,42,NaN,BLONDIN AVENUE,LONDON,LONDON,EALING,GREATER LONDON
765,63500,1995-04-03,F,N,L,24A,NaN,GREEN LANE,LONDON,LONDON,EALING,GREATER LONDON
820,101000,1995-07-14,T,N,F,15,NaN,BROOKBANK AVENUE,LONDON,LONDON,EALING,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27734498,539950,2022-09-09,F,N,L,18,NaN,BERRYMEAD GARDENS,NaN,LONDON,EALING,GREATER LONDON
27734519,1000000,2022-09-29,T,N,F,6,NaN,CONINGSBY ROAD,NaN,LONDON,EALING,GREATER LONDON
27734521,799950,2022-09-15,F,N,L,15,FLAT 3,GRANGE PARK,NaN,LONDON,EALING,GREATER LONDON
27734523,500000,2022-05-31,F,N,L,23,NaN,DRAYTON ROAD,NaN,LONDON,EALING,GREATER LONDON
27734552,555050,2022-09-26,S,N,F,26,NaN,PLEASANT WAY,NaN,WEMBLEY,EALING,GREATER LONDON

**Barnet**

In [113]:
barnet = df.loc[df["District"] == londonBoroughs[1]]
barnet

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
82,74950,1995-06-29,S,N,F,42,NaN,CREWYS ROAD,LONDON,LONDON,BARNET,GREATER LONDON
352,63000,1995-11-24,T,N,F,35,NaN,FALKLAND AVENUE,LONDON,LONDON,BARNET,GREATER LONDON
398,121250,1995-05-19,F,N,L,CAVENDISH HOUSE,FLAT 20,WOODSIDE GRANGE ROAD,LONDON,LONDON,BARNET,GREATER LONDON
461,90000,1995-09-22,T,N,F,80,NaN,GROVE ROAD,LONDON,LONDON,BARNET,GREATER LONDON
617,66500,1995-07-28,S,N,F,151,NaN,MONTROSE AVENUE,EDGWARE,EDGWARE,BARNET,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27733532,600000,2022-09-16,F,N,L,45A,FLAT 2,WOODHOUSE ROAD,NaN,LONDON,BARNET,GREATER LONDON
27734495,558000,2022-09-20,F,N,L,10A,NaN,ASH GROVE,NaN,LONDON,BARNET,GREATER LONDON
27734534,340000,2022-09-20,F,N,L,118,NaN,THE FAIRWAY,NaN,LONDON,BARNET,GREATER LONDON
27734547,1150000,2022-09-16,T,N,F,56,NaN,SUTTON ROAD,NaN,LONDON,BARNET,GREATER LONDON
27734555,392500,2022-09-06,T,N,L,145A,NaN,SQUIRES LANE,NaN,LONDON,BARNET,GREATER LONDON

**Barnet**

In [112]:
barnet = df.loc[df["District"] == londonBoroughs[1]]
barnet

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
82,74950,1995-06-29,S,N,F,42,NaN,CREWYS ROAD,LONDON,LONDON,BARNET,GREATER LONDON
352,63000,1995-11-24,T,N,F,35,NaN,FALKLAND AVENUE,LONDON,LONDON,BARNET,GREATER LONDON
398,121250,1995-05-19,F,N,L,CAVENDISH HOUSE,FLAT 20,WOODSIDE GRANGE ROAD,LONDON,LONDON,BARNET,GREATER LONDON
461,90000,1995-09-22,T,N,F,80,NaN,GROVE ROAD,LONDON,LONDON,BARNET,GREATER LONDON
617,66500,1995-07-28,S,N,F,151,NaN,MONTROSE AVENUE,EDGWARE,EDGWARE,BARNET,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27733532,600000,2022-09-16,F,N,L,45A,FLAT 2,WOODHOUSE ROAD,NaN,LONDON,BARNET,GREATER LONDON
27734495,558000,2022-09-20,F,N,L,10A,NaN,ASH GROVE,NaN,LONDON,BARNET,GREATER LONDON
27734534,340000,2022-09-20,F,N,L,118,NaN,THE FAIRWAY,NaN,LONDON,BARNET,GREATER LONDON
27734547,1150000,2022-09-16,T,N,F,56,NaN,SUTTON ROAD,NaN,LONDON,BARNET,GREATER LONDON
27734555,392500,2022-09-06,T,N,L,145A,NaN,SQUIRES LANE,NaN,LONDON,BARNET,GREATER LONDON

**Harrow**

In [136]:
harrow = df.loc[df["District"] == londonBoroughs[15]]
harrow

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
35,292500,1995-08-31,D,Y,F,11,NaN,LAVENDER GARDENS,HARROW WEALD,HARROW,HARROW,GREATER LONDON
112,82950,1995-06-23,S,N,F,10,NaN,BROADFIELDS,HARROW,HARROW,HARROW,GREATER LONDON
744,73000,1995-11-30,S,N,F,115,NaN,CHARLTON ROAD,HARROW,HARROW,HARROW,GREATER LONDON
1025,58000,1995-01-31,T,N,F,86A,NaN,CANNING ROAD,HARROW,HARROW,HARROW,GREATER LONDON
1158,88950,1995-03-10,F,Y,L,"SKILLEN LODGE, 552",FLAT 7,UXBRIDGE ROAD,PINNER,PINNER,HARROW,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27733514,345000,2022-08-17,F,N,L,39A,NaN,BROOKE AVENUE,NaN,HARROW,HARROW,GREATER LONDON
27733528,400000,2022-09-30,F,N,L,43A,NaN,RADNOR ROAD,NaN,HARROW,HARROW,GREATER LONDON
27734494,325000,2022-09-23,F,N,L,KELMSCOTT COURT,1,ARAN DRIVE,NaN,STANMORE,HARROW,GREATER LONDON
27734522,305000,2022-09-26,F,N,L,MENTMORE COURT,81,SEPTEMBER WAY,NaN,STANMORE,HARROW,GREATER LONDON
27734549,551000,2022-09-30,F,N,L,12,NaN,ELM PARK ROAD,NaN,PINNER,HARROW,GREATER LONDON

**Hillingdon**

In [143]:
hillingdon = df.loc[df["District"] == londonBoroughs[17]]
hillingdon

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
188,51000,1995-12-21,F,N,L,6A,NaN,ROCKINGHAM PARADE,UXBRIDGE,UXBRIDGE,HILLINGDON,GREATER LONDON
194,82500,1995-02-17,S,Y,F,36,NaN,TELFORD WAY,HAYES,HAYES,HILLINGDON,GREATER LONDON
447,124500,1995-04-11,S,N,F,19,NaN,CLAYTON WAY,UXBRIDGE,UXBRIDGE,HILLINGDON,GREATER LONDON
583,125000,1995-09-08,D,N,F,136,NaN,POLE HILL ROAD,HAYES,HAYES,HILLINGDON,GREATER LONDON
733,156250,1995-07-27,D,N,F,50,NaN,ELTHORNE ROAD,UXBRIDGE,UXBRIDGE,HILLINGDON,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27734506,470000,2022-10-07,T,N,F,124,NaN,GREENWAY,NaN,HAYES,HILLINGDON,GREATER LONDON
27734507,135000,2022-07-05,F,N,L,"POUNDEN COURT, 6",FLAT 8,AITKEN CLOSE,NaN,RUISLIP,HILLINGDON,GREATER LONDON
27734514,355000,2022-09-30,F,N,L,7,NaN,SPRING CLOSE,HAREFIELD,UXBRIDGE,HILLINGDON,GREATER LONDON
27734526,328000,2022-09-01,F,N,L,"CORINTHIAN COURT, 1",FLAT 36,STATION APPROACH,NaN,RUISLIP,HILLINGDON,GREATER LONDON
27734531,305000,2022-08-04,F,N,L,10,NaN,ROSECROFT COURT,NaN,NORTHWOOD,HILLINGDON,GREATER LONDON

# 3)Data Exploration

Why did City of Brisy

In [57]:
Rhondda = london.loc[london["District"] == "RHONDDA CYNON TAFF"]
bristol = london.loc[london["District"] == "CITY OF BRISTOL"]
Rhondda
bristol

,Price,DateOfSale,Postcode,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
25513488,750,2020-01-06,W12 7LF,O,N,F,LINCOLN APARTMENTS,3,FOUNTAIN PARK WAY,NaN,LONDON,CITY OF BRISTOL,CITY OF BRISTOL

**EAST LONDON, England**

E1 Central East London

In [48]:

# BY POSTCODE_TYPE
def E1_HeadDistrict(data):
    df2 = data.dropna(subset=["Postcode"])
    pattern1 = "E1[A-Z].*"
    pattern2 = "E1 [1-9].*"
    E1Char = data[data.Postcode.str.match(pattern1, na=False)]
    E1Num = data[data.Postcode.str.match(pattern2, na=False)]
    E1 = pd.concat([E1Char, E1Num], axis=0)
    
    
    return E1

In [49]:
E1_HeadDistrict(df)

,Price,DateOfSale,Postcode,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
2299,195000,1995-03-09,E1W 3TF,F,N,L,TRAFALGAR COURT,FLAT 52,WAPPING WALL,LONDON,LONDON,TOWER HAMLETS,GREATER LONDON
15152,82500,1995-01-27,E1W 3ES,F,N,L,"FREE TRADE WHARF, 340",FLAT 60,THE HIGHWAY,LONDON,LONDON,TOWER HAMLETS,GREATER LONDON
15223,80000,1995-09-22,E1W 2JG,F,N,L,27,NaN,DISCOVERY WALK,LONDON,LONDON,TOWER HAMLETS,GREATER LONDON
15306,171000,1995-09-14,E1W 3NH,F,N,L,"PRUSOMS ISLAND, 135",FLAT 6,WAPPING HIGH STREET,LONDON,LONDON,TOWER HAMLETS,GREATER LONDON
15968,91000,1995-12-13,E1W 1UB,F,N,L,"NIGHTINGALE HOUSE, 50",FLAT 61,THOMAS MORE STREET,LONDON,LONDON,ENFIELD,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27732407,870000,2022-09-15,E1 1PT,F,N,L,12,APARTMENT 6,FAIRCLOUGH STREET,NaN,LONDON,TOWER HAMLETS,GREATER LONDON
27733400,352500,2022-08-19,E1 3BD,F,N,L,SANDHURST HOUSE,FLAT 8,WOLSEY STREET,NaN,LONDON,TOWER HAMLETS,GREATER LONDON
27734502,600000,2022-09-30,E1 6JB,F,N,L,15A,NaN,FRENCH PLACE,NaN,LONDON,HACKNEY,GREATER LONDON
27734503,425000,2022-09-27,E1 3JH,F,N,L,DUNSTAN HOUSES,13,STEPNEY GREEN,NaN,LONDON,TOWER HAMLETS,GREATER LONDON
27734510,570000,2022-09-09,E1 6HF,F,N,L,"ALPHA COURT, 20",FLAT 501,CALVIN STREET,NaN,LONDON,TOWER HAMLETS,GREATER LONDON

E2 Bethnal

In [50]:
def E2_BethnalGreen(data):
    df2 = data.dropna(subset=["Postcode"])
    pattern = "E2.*"
    E2 = data[data.Postcode.str.match(pattern, na=False)]
    return E2

In [51]:
E2_BethnalGreen(df)

,Price,DateOfSale,Postcode,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
2874,54000,1995-02-03,E2 6LJ,F,Y,L,"ST JAMES COURT, 331",FLAT 3,BETHNAL GREEN ROAD,LONDON,LONDON,TOWER HAMLETS,GREATER LONDON
5230,86000,1995-03-07,E2 7ED,T,N,F,247,NaN,BRICK LANE,LONDON,LONDON,TOWER HAMLETS,GREATER LONDON
7729,64995,1995-11-03,E2 6DU,F,Y,L,10,NaN,OAKLEY YARD,LONDON,LONDON,TOWER HAMLETS,GREATER LONDON
10359,51995,1995-12-04,E2 6DU,F,Y,L,2,NaN,OAKLEY YARD,NaN,LONDON,TOWER HAMLETS,GREATER LONDON
16659,90000,1995-10-18,E2 9PW,T,N,F,118,NaN,OLD FORD ROAD,LONDON,LONDON,TOWER HAMLETS,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27732405,945000,2022-08-03,E20 1HQ,T,N,F,4,NaN,BREWERS LANE,NaN,LONDON,WALTHAM FOREST,GREATER LONDON
27732413,545000,2022-05-30,E2 9BL,F,N,L,GILLMAN HOUSE,FLAT 8,PRITCHARDS ROAD,NaN,LONDON,TOWER HAMLETS,GREATER LONDON
27732416,374000,2022-09-09,E2 0SE,F,N,L,O'BRIEN HOUSE,FLAT 52,ROMAN ROAD,NaN,LONDON,TOWER HAMLETS,GREATER LONDON
27733388,710000,2022-09-01,E2 6QQ,F,N,L,41A,NaN,TEMPLE STREET,NaN,LONDON,TOWER HAMLETS,GREATER LONDON
27734524,445000,2022-09-13,E2 9BJ,F,N,L,BESFORD HOUSE,FLAT 14,PRITCHARDS ROAD,NaN,LONDON,TOWER HAMLETS,GREATER LONDON

In [115]:
brent = df.loc[df["District"] == londonBoroughs[3]]
brent

,Price,DateOfSale,PropertyType,OldNew,DurationOfTenure,HouseNumberName,SecondaryAddress,Street,Locality,TownCity,District,County
382,118000,1995-07-11,S,N,F,141,NaN,PRESTON ROAD,WEMBLEY,WEMBLEY,BRENT,GREATER LONDON
1030,58031,1995-01-20,F,N,L,78,NaN,CAMPBELL GORDON WAY,LONDON,LONDON,BRENT,GREATER LONDON
1143,65000,1995-12-14,F,N,L,25,FIRST FLOOR FLAT,ASHBURNHAM ROAD,LONDON,LONDON,BRENT,GREATER LONDON
1196,123000,1995-08-25,D,N,F,3,NaN,EVERSLEY AVENUE,WEMBLEY,WEMBLEY,BRENT,GREATER LONDON
1832,58100,1995-10-12,S,N,F,92,NaN,VILLIERS ROAD,LONDON,LONDON,BRENT,GREATER LONDON
...,...,...,...,...,...,...,...,...,...,...,...,...
27733386,1030000,2022-09-14,F,N,L,44,FLAT 2,WINCHESTER AVENUE,NaN,LONDON,BRENT,GREATER LONDON
27733541,338000,2022-09-08,F,N,L,"ERIN COURT, 94",FLAT 20,WALM LANE,NaN,LONDON,BRENT,GREATER LONDON
27734492,285000,2022-09-28,F,N,L,68,FLAT F,ANSON ROAD,NaN,LONDON,BRENT,GREATER LONDON
27734515,450000,2022-06-16,F,N,L,"CHASE HOUSE, 1",FLAT 2,HANSEL ROAD,NaN,LONDON,BRENT,GREATER LONDON
27734541,522500,2022-06-16,F,N,L,126,FLAT 3,MELROSE AVENUE,NaN,LONDON,BRENT,GREATER LONDON